<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<main>
    <div>
        <h1>My Lists</h1>
        <table>
            <tr>
                <thead>Name</thead>
                <thead>Number of Items</thead>
            </tr>
            {% for todo_list in todo_list_list %}
            <tr>
                <td>{{ todo_list.name }}</td>
            </tr>
            {% endfor %}
            <tr></tr>
        </table>
    </div>
</main>
</body>
</html>